@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

section:nth-child(even) {
  @apply bg-lightone dark:bg-darkone text-bitdark dark:text-bitlight;
}
section:nth-child(odd) {
  @apply bg-lighttwo dark:bg-darktwo text-bitdark dark:text-bitlight;
}

.about-bg {
  background-image: url(/src/assets/bg_fosan1.jpeg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin-top: 6rem;
  padding-top: 15rem;
  padding-bottom: 5rem;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
.about-ctx {
  z-index: 3;
}

.navbar-fixed {
  @apply fixed z-[9999] bg-white bg-opacity-80 dark:bg-primary dark:bg-opacity-50;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.hamburger-line {
  @apply w-[27px] h-[2px] my-2 block bg-primary dark:bg-white;
}
.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}
.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}
.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

#dark-toggle:checked ~ label div.toggle-circle {
  @apply translate-x-3;
}

.section-title {
  @apply font-bold font-serif text-secondary text-4xl mt-1 md:text-5xl dark:text-lighttwo mb-4;
}

.section-subtitle {
  @apply text-base font-semibold text-primary mb-5 dark:text-secondary
}
.btn-one {
  @apply text-base font-semibold bg-secondary py-3 px-8 text-primary rounded-full hover:shadow-lg hover:bg-primary/80 hover:text-secondary transition duration-300 ease-in-out
}
.btn-dark {
  @apply text-base font-semibold bg-primary py-3 px-8 text-secondary rounded-full hover:shadow-lg hover:bg-secondary/80 hover:text-primary transition duration-300 ease-in-out
}
